.footer {
    background-color: #1c1f22;
    padding: 5rem 0;
    @media (max-width: $md) {
        padding: 3rem 0;
    }
    h3 {
        font-size: 17px;
        line-height: 25px;
        text-transform: uppercase;
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: 0;
    }
    p, li {
        color: $tertiary-color;
    }
    &-phone, &-email {
        display: block;
        width: fit-content;
        background-repeat: no-repeat;
        transition: .15s ease-in-out;
    }
    &-phone {
        font-size: 28px;
        line-height: 34px;
        color: $secondary-color !important;
        font-weight: 700;
        padding-right: 1.25rem;
        background-image: url("../img/icons/arrow-default.svg");
        background-size: 0 6px;
        background-position: right 1rem top 14px;
        &:hover {
            background-position: right 0 top 14px;
            background-size: 14px 6px;
        }
    }
    &-email {
        font-size: 17px;
        line-height: 23px;
        color: $highlight-color !important;
        font-weight: 400;
        padding-right: 1.25rem;
        background-image: url("../img/icons/arrow-default-orange.svg");
        background-size: 0 6px;
        background-position: right 1rem top 10px;
        &:hover {
            background-position: right 0 top 10px;
            background-size: 14px 6px;
        }
    }
    &-item {
        &-logo {
            padding-left: 5rem;
            background-image: url("../img/logo-footer.svg");
            background-repeat: no-repeat;
            background-position: top left;
            @media (max-width: $md) {
                padding-left: 0;
                padding-top: 5.5rem;
            }
        }
        &-middle {
            padding-left: 3rem;
            @media (max-width: $xxl) {
                padding-left: 1.5rem;
            }
            @media (max-width: $xl) {
                padding-left: 0;
            }
        }
    }
    &-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: $xl) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: .5rem 2rem;
        }
        @media (max-width: $md) {
            flex-direction: column;
            gap: .25rem;
        }
        li {
            a {
                font-size: 17px;
                line-height: 32px;
                color: $tertiary-color;
                font-weight: 400;
                text-decoration: none;
                transition: .15s ease-in-out;
                &:hover {
                    color: $highlight-color;
                }
            }
        }
    }
    &-contact {
        &-top {
            margin-bottom: 2.5rem;
            @media (max-width: $xl) {
                margin-bottom: 1.5rem;
            }
        }
        p {
            display: block;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 22px;
            text-transform: uppercase;
            color: $tertiary-color;
            font-weight: 500;
            margin-bottom: .75rem;
        }
        h4 {
            font-size: 30px;
            line-height: 36px;
            color: $secondary-color;
            font-weight: 500;
            font-family: $font2;
            margin-bottom: 0;
        }
    }
    &-copyright {
        margin-top: 5rem;
        @media (max-width: $md) {
            margin-top: 3rem;
        }
        p {
            &,a {
                color: darken($tertiary-color, 25%);
            }
            color: $tertiary-color;
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
            margin-bottom: 0;
            span { 
                @media (max-width: $sm) {
                    display: block;
                }
                &:not(:last-child)::after {
                    content: "|";
                    margin: 0 .25rem 0 .5rem;
                    @media (max-width: $sm) {
                        content: none;
                    }
                }
            }
            a {
                transition: .15s ease-in-out;
                &:hover {
                    color: $highlight-color;
                }
            }
        }
    }
}