.header {
    background-color: $highlight-color;
    &-nav {
        padding: 1.5rem;
        flex-wrap: wrap;
        @media (max-width: $xl) {
            justify-content: space-between;
            padding: 2rem 0;
        }
        @media (max-width: $md) {
            padding: 1.25rem 0;
        }
    }
    &-logo {
        @media (max-width: $sm) {
            width: 75%;
        }
        img {
            max-height: 70px;
            max-width: 350px;
            @media (max-width: $sm) {
                max-width: 100%;
            }
        }
    }
    &-collapse {
        justify-content: center;
        @media (max-width: $xl) {
            justify-content: flex-start;
            width: 100%;
            margin-top: 1.25rem;
        }
        @media (max-width: $lg) {
            justify-content: center;
            margin: 1.25rem 0 .5rem;
        }
    }
    &-menu {
        & > ul {
            gap: .75rem 1rem;
            padding: 0 1.5rem;
            @include flexCenter();
            flex-wrap: wrap;
            @media (max-width: $xl) {
                padding: 0;
            }
            @media (max-width: $lg) {
                flex-direction: column;
            }
        }
        &-link {
            & > a {
                position: relative;
                font-size: 17px;
                line-height: 23px;
                color: $secondary-color;
                font-weight: 700;    
                transition: .3s ease-in-out;
                box-shadow: inset 0 0 0 0 $secondary-color;
                padding: .25rem .4rem;
            }
            &:hover > a, &:focus > a {
                box-shadow: inset 200px 0 0 0 $secondary-color;
                color: $highlight-color;
            }
        }
        &-dropdown {
            margin-right: 1rem;
            & > a {
                @media (max-width: $lg) {
                    margin: 0 auto;
                    display: block;
                    width: fit-content;
                }
                &::after {
                    content: url("../img/icons/arrow-dropdown.svg");
                    position: absolute;
                    height: 8px;
                    width: 13px;
                    top: 1px;
                    right: -1rem;
                }
            }
            &-menu {
                position: absolute;
                display: none;
                padding-top: .5rem;
                width: max-content;
                max-width: 300px;
                z-index: 3;
                & > div {
                    background-color: $secondary-color;
                    padding: 1rem 1.5rem 1rem 1.25rem;
                }
                @media (max-width: $lg) {
                    position: unset;
                }
            }
            &-link {
                display: flex;
                align-items: flex-start;
                gap: .5rem;
                color: $primary-color;
                transition: .15s ease-in-out;
                font-weight: 600;
                svg {
                    flex-shrink: 0;
                    padding: .4rem 0;
                    transition: .15s ease-in-out;
                }
                &:not(:last-child) {
                    margin-bottom: .25rem;
                }
                &:hover {
                    color: $highlight-color;
                    svg {
                        fill: $highlight-color;
                    }
                }
            } 
            &:hover &-menu {
                display: block;
            }
        }
    }
    &-contact {
        background-image: url("../img/icons/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: left top 3px;
        padding-left: 2rem;
        a {
            display: block;
            font-size: 16px;
            line-height: 22px;
            color: $secondary-color;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .animated-icon {
        width: 30px;
        height: 24px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        display: block;
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            background: var(--secondary-color);
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 10px;
            }
            &:nth-child(3) {
                top: 20px;
            }
        }
        &.open span {
            &:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}