$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 991px,
    "xl": 1200px,
    "xxl": 1475px,
    "xxxl": 1800px,
);

$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$xxl: 1475px;
$xxxl: 1800px;

$highlight-color: #eb662b;
$primary-color: #262626;
$secondary-color: #ffffff;
$tertiary-color: #b4b4b4;
$paragraph-color: #727272;
$section-color: #4f5256;
$section-light-color: #f5f5f5;
$table-color: #eeeeee;

$font1: "Barlow", sans-serif;
$font2: "DM Sans", sans-serif;